<html>
<script type="text/javascript" src="../bundled/bundle.js"></script>
<script type="text/javascript">
function getJSON(){
    var jsonFromHTML = document.getElementById("inputBox").value;
    console.log('From HTML:'+jsonFromHTML);
}
</script>
<div class="main">
    <div class="iobox">
        <textarea placeholder="Paste JSON response here!" rows="30" cols="50" id='inputBox'></textarea>
    </div>
    <div class="actionButton">
        <button onclick="getJSON(); return false">Get JSONSchema</button>
    </div>
    <div class="iobox">
        <textarea placeholder="JSON Schema will be generated here!" rows="30" cols="50"></textarea>
    </div>
</div>
<style>
.main{
    display: -webkit-inline-flex
}
.iobox{
    padding: 10px
}
.actionButton{
    padding: 10px;
    vertical-align: -webkit-baseline-middle;
    margin-top: 50px;
}
</style>
</html>