<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="../bundled/bundle.js"></script> -->
    <script>
            function getMyJSON() {
            var jsonFromHTML = document.getElementById("inputBox").value;
            var jsonFilePathFromHtml = document.getElementById('readFile').value;
            console.log("JSON File Content" + jsonFromHTML);
            console.log("JSON File's Path:" + jsonFilePathFromHtml);
            document.getElementById('outputBox').innerHTML = jsonFilePathFromHtml;
            return jsonFilePathFromHtml;
        }
    </script>
    <div class="main">
        <div class="iobox">
            <div>
                Select you JSON file <input type="file" id="readFile">
            </div>
            <div style="padding-left:20px">OR</div>
            <div id="inputArea">
                <textarea placeholder="Paste JSON response here!" rows="30" cols="50" id='inputBox'></textarea>
            </div>
        </div>
        <div class="actionButton" id="buttonForAction">
            <button>Get JSONSchema</button>
        </div>
        <div class="iobox">
            <textarea placeholder="JSON Schema will be generated here!" rows="30" cols="50" id="outputBox"></textarea>
        </div>
    </div>
    <script language="javascript">
            $(document).ready(function () {
                console.log("DOM loaded!");
            });
            $("#buttonForAction").click(function () {
                console.log("Success 1!");
                var jsonFilePath = getMyJSON();
                $.getJSON(jsonFilePath,function(data){
                    console.log("Data:"+data);
                })
            });
        </script>
</body>

</html>