.headBottom{
    border-bottom: 1px solid #cccccc
}
.bodyTop{
    margin-top: 20px;
}
.actionButton{
    margin-top: 150px;
    margin-left: 75px;
 }
#readFile{
    padding: 0px    
}
#inputArea{
    padding: 0px
}
abbr[title] {
    border-bottom: none !important;
    text-decoration: none !important;
  }