/* .main{
    display: -webkit-inline-flex
} */
.iobox{
    padding: 10px
}
.actionButton{
    margin-top: 150px;
    margin-left: 150px;
 }
#readFile{
    padding: 10px    
}
#inputArea{
    padding: 10px
}
abbr[title] {
    border-bottom: none !important;
    text-decoration: none !important;
  }