html{
    background-color:white;
}

#inputEditor{
    height: 300px;
}

#outputEditor{
    height: 500px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

.myrow {
    margin-right: -10px;
    margin-left: -10px;
}

.mycontainer{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
}

.disabledButton:hover{
    cursor:not-allowed;
}

.button {
    padding: 10px 30px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {
      background-color:darkslategrey}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.btn-group, .my-btn-group-vertical{
    display: block;
}

.schemaButton {
    background-color: dodgerblue;
    border-radius: 8px;
}

.prettyButton {
    background-color:violet;
    border-radius: 8px;
}

.compareButton {
    background-color: steelblue;
    border-radius: 8px;
}

.jsonpathButton {
    background-color: tomato;
    border-radius: 8px;
}

.headBottom{
    border-bottom: 1px solid #cccccc
}
.bodyTop{
    margin-top: 20px;
}
.actionButton{
    margin-top: 0px;
    margin-left: 0;
 }
#readFile{
    padding: 0px    
}
#inputArea{
    padding: 0px
}
abbr[title] {
    border-bottom: none !important;
    text-decoration: none !important;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 23px;
    background-color: #cccccc;
    color:palevioletred;
    text-align: center;
 }